.container, .icon, .containerGrande {
    border-radius: 6px;
    border: none;
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.icon{
    width: 3rem !important;
    height: 3rem;
    display: block;
}

.container{
    width: 7.5rem;
    height: 3.4rem;
}

.containerGrande {
    width: 14rem;
    height: 3.4rem;
}

.container:hover, .icon:hover, .containerGrande:hover {
    filter: brightness(80%); /* Escurecer 20% ao passar o mouse */
    // width: 7rem;
    // height: 3rem;
}

.azulEscuro {
    background-color: var(--primary-dark);
}

.azul {
    background-color: var(--primary);
}

.azulClaro {
    background-color: var(--secondary);
}

.cinza {
    background-color: var(--text-secondary);
}

.vinho{
    background-color: var(--accent);
}

.laranja {
        background-color: #E56700;
}

.verde {
    background-color: #007A6A;
}


.transparente {
    background-color: transparent;
    border: none;
}

// Qualquer tag 'ancora' que vier a existir, será retirada a estilização de 'underline'
a{
    text-decoration: none;
}

.mobileHidden {
    display: none;
}

@media (max-width: 800px){
    .hidden {
        display: none;
    }

    .mobileHidden {
        display: flex
    }
}
