.container {
    width: 95px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem ;
    position: absolute;
    left: 0;
    
    transition: opacity 0.8s ease-in-out;
    transition: width 0.2s ease-in-out;

    nav{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        figure{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            div{
                visibility: hidden;
                text-align: center;

                figcaption{
                    font-size: 700;
                }
    
                span {
                    color: var(--primary)
                }
            }
        }

        section{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;

            div{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;

                p{
                    visibility: hidden;
                }
            }
        }
    }
}

/* Fazendo a transição de opacidade */
.container figure div, 
.container section div p {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;

}

.container:hover {
    width: 220px;
    box-shadow: 0px 0px 30px 5px var(--surface);

    figure div, section div p{
        visibility: visible;
        opacity: 1;
    }

}