.container {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    form {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        

        label{
            display: flex;
            font-weight: 700;
            font-size: .7rem;
        }
    }
}

.boxIdentificacao, .boxDados{
    // height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    

    button{
        right: 0;
        text-decoration: none;
    }
}

.boxIdentificacao {
    width: 35%;
    padding-right: 1rem;
}

.boxDados {
    width: 65%;
    padding-left: 1rem;
}

.linha {
    height: 100%;
    border: .4px solid var(--background)
}

.micro, .small, .medium, .large, .total {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}

.micro {
    width: 7%;
}

.small {
    width: 15%;
}

// .intermediario {
//     width: 200px
// }

.medium {
    width: 35%
}

.large {
    width: 60%;
}

.total {
    width: 100%;
}

.botoes {
    // width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.controles {
    width: 100%;
    // height: 25%;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    p{
        font-weight: 700;
    }
}

.box {
    padding: 12px 13px;
    border: .8px  solid var(--surface);
    border-radius: 6px;
    color: var(--text-secondary);
}

.box:hover{
    border: .8px solid var(--text-secondary);
}

.asteristico {
    color: red;
}

.aviso {
    background-color: red;
}

@media  (max-width: 800px){
    form {
        flex-direction: column;
        gap: 2rem;
        width: 100% !important;

        div {
            width: 100% !important;
        }
    }
    .boxDados, .boxIdentificacao{
        width: 100% !important;

        .large, .medium, .total, .small, {
            width: 100% !important;

            input, select {
                width: 100% !important;
            }
        }

        .micro {
            width: 80px !important;
        }

    }

    .controles {
        flex-direction: column;
        align-items: flex-end !important;
    }
}
