table {
    width: 100%;
    height: 100%;
    border: .8px solid var(--surface);
    border-radius: 6px;

    border-collapse: collapse; /* Garante que as bordas fiquem alinhadas */
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cabecalho {
    background-color: var(--surface);
    font-weight: 400;
    flex: 0 0 auto; /* O cabeçalho não cresce */
    
}

.corpo {
    flex: 1; /* Ocupa todo o espaço disponível */
    display: flex;
    flex-direction: column;

    .linha:hover {
        background-color: var(--background);
        
    }

}

.linha {
    // width: 100%;
    height:  3rem !important;
    display: flex;
    width: 100%;
    

    td, th {
        flex: 1; /* Faz as colunas ocuparem espaço proporcionalmente */
        min-width: 2%;
        font-weight: 400;
        border-right: solid 0.8px var(--surface);
        border-bottom: solid 0.8px var(--surface);
        padding: 8px;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    td span, .overflow{
        white-space: nowrap;  /* Impede que o texto quebre para a próxima linha */
        overflow: hidden;     /* Oculta o conteúdo que ultrapassa a célula */
        text-overflow:ellipsis; /* Adiciona as reticências (...) */
        max-width: 100%; /* Define um limite de largura para que o efeito funcione */
        display: block; /* Necessário para aplicar ellipsis */
    }

    td:last-child{
        border-right: none;
    }

    .deleteStyle:hover{
        background-color: var(--accent);
    }
    .editar:hover{
        background-color: var(--secondary);
    }
}

.iconeEditar {
    width: 16px;
    height: 19px;
}

.mensagemErro{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 2rem;
    }
}

